body{
    background-image: url(../img/bomba_fondo.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

footer{
    color: white;
}